@import '../../styles/variables.scss';

.toggle {
  height: 4rem;
  width: 4rem;
  margin: 0;
  border-radius: 50%;
  background-color: rgb(5, 24, 53);
  background-color: $light-bg;
  background-color: rgb(103, 193, 174);
  background: $lin-grad;
  border: 2px solid $deep-bg;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10%;
  right: 5%;
  z-index: 10;
}
.arrow {
  font-size: 30px;
  padding: 3px;
  color: $deep-bg;
}
.toggleContainer {
  height: 0;
  width: 350px;
  overflow: hidden;
  transition: all 0.3s linear;
  z-index: 10;
  position: fixed;
  bottom: 20%;
  right: 5%;
  background: $lin-grad;
}

.show {
  height: 280px;
}
.chatbox {
  height: calc(100% - 110px);
  padding: 15px;
}

@import '../../styles/variables.scss';

.toggle {
  height: 4rem;
  width: 4rem;
  margin: 0;
  border-radius: 50%;
  background-color: rgb(5, 24, 53);
  background-color: $light-bg;
  background-color: rgb(103, 193, 174);
  background: $lin-grad;
  border: 2px solid $deep-bg;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10%;
  right: 5%;
  z-index: 10;
}
.arrow {
  font-size: 30px;
  padding: 3px;
  color: $deep-bg;
}
.toggleContainer {
  height: 0;
  width: 350px;
  overflow: hidden;
  transition: all 0.3s linear;
  z-index: 10;
  position: fixed;
  bottom: 20%;
  right: 5%;
  background: $lin-grad;
}

.show {
  height: 280px;
}
.chatbox {
  height: calc(100% - 110px);
  padding: 15px;
}
